spring:
  profiles:
    default: local

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

error:
  handling:
    http-status-in-json-response: true
    exception-logging: NO_LOGGING
    full-stacktrace-http-statuses: 5xx
    log-levels:
      5xx: ERROR
    codes:
      MemberEmailUnique: MEMBER_EMAIL_UNIQUE
      MemberNameUnique: MEMBER_NAME_UNIQUE
      SttStateRawJsonUrlUnique: STT_STATE_RAW_JSON_URL_UNIQUE
      SttStateMeetingUnique: STT_STATE_MEETING_UNIQUE
      MeetingSummarySummaryTextUnique: MEETING_SUMMARY_SUMMARY_TEXT_UNIQUE
      MeetingSummaryKeyDecisionUnique: MEETING_SUMMARY_KEY_DECISION_UNIQUE
      MeetingSummaryMeetingUnique: MEETING_SUMMARY_MEETING_UNIQUE
      ActionItemAssigneeMemberIdUnique: ACTION_ITEM_ASSIGNEE_MEMBER_ID_UNIQUE
      MeetingFileOriginalFilenameUnique: MEETING_FILE_ORIGINAL_FILENAME_UNIQUE
      MeetingFileStorageUrlUnique: MEETING_FILE_STORAGE_URL_UNIQUE
      MeetingFileMeetingUnique: MEETING_FILE_MEETING_UNIQUE
      SttSegmentSegTextUnique: STT_SEGMENT_SEG_TEXT_UNIQUE
      ValidFileType: VALID_FILE_TYPE

server:
  tomcat:
    max-part-count: '100'

springdoc:
  pathsToMatch: /api/**
