@import 'tailwindcss';
@plugin '@tailwindcss/forms';


input[type=file] {
    border-width: 1px;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
}

input[type=file]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 1px #276eff;
}

input::file-selector-button {
    border-right-width: 1px;
    padding: 0.5rem 0.75rem;
    margin-right: 0.6rem;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
}

input::file-selector-button:hover {
    filter: brightness(95%);
}
